* {
	box-sizing: border-box;
}
body {
	background-image: url("../images/bg.png");
	background-color: #cccccc;
	padding: 20px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
/* Center website */

.main {
	max-width: 1000px;
	margin: auto;
}
h1 {
	font-size: 50px;
	word-break: break-all;
}
.row {
	margin: 8px -16px;
}
/* Add padding BETWEEN each column (if you want) */

.row, .row>.column {
	padding: 8px;
}
/* Create four equal columns that floats next to each other */

.column {
	float: left;
	width: 25%;
}
/* Clear floats after rows */

.row:after {
	content: "";
	display: table;
	clear: both;
}
/* Content */


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 900px) {
	.column {
		width: 50%;
	}
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}
* {
	box-sizing: border-box;
}
h2 {
	color: rgb(230, 9, 9);
}
body {
	background-color: rgb(73, 73, 73);
}
/* Style inputs */

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
input[type=submit] {
	background-color: rgb(230, 9, 9);
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
}
input[type=submit]:hover {
	background-color: rgb(230, 9, 9);
}
/* Style the container/contact section */

.container {
	margin: auto;
	width: 960px;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 10px;
}
/* Create two columns that float next to eachother */

.column {
	position: relative;
	margin: auto;
	width: 50%;
	margin-top: 6px;
	padding: 20px;
}
/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
	.column, input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}
/* Add a black background color to the top navigation */

.topnav {
	margin: auto;
	width: 960px;
	background-color: #333;
	overflow: hidden;
	top: 0;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
/* Style the links inside the navigation bar */

.topnav a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	
}
/* Change the color of links on hover */

.topnav a:hover {
	background-color: #ddd;
	color: black;
}
/* Add a color to the active/current link */

.topnav a.active {
	float: left;
	font-size: 22px;
	font-weight: bold;
	background-color: rgb(230, 9, 9);
	color: white;
}
/* add color to the footer background */

footer {
	margin: auto;
	width: 960px;
	background-color: #333;
	overflow: hidden;
}
/* add color to the <p> on footer and center */

footer p {
	color: white;
	text-align: center;
	position: sticky;
	top: 0;
}
hr {
	width: 50%;
}

img {
	position: relative;
	float: left;
	width: 100px;
	height: 400px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
/* Bottom right text */

.text-block {
	position: absolute;
	bottom: 150px;
	
	font-size: 35px;
	background-color: rgb(230, 9, 9);
	color: black;
}
h1 {
	color: rgb(230, 9, 9);
}

h3{
	position: absolute;
	color: white;
	background-color: rgb(230, 9, 9);
	text-align: center;
	padding-top: 22px;
	padding-bottom: 22px;
	background-size: 100px;
	
	
}

.mobile{
	padding-left: 166px;
	padding-right: 166px;
}

.tablet{
	padding-left: 172px;
	padding-right: 172px;
}

.audio{
	padding-left: 173px;
	padding-right: 173px;
}

.pc{
	padding-left: 203px;
	padding-right: 203px;
}

.console{
	padding-left: 150px;
	padding-right: 150px;
}